<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Forms....!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link href= "{% static 'css/suri.css' %}" rel="stylesheet">
</head>
<body>
<h1>Employee sample Forms</h1>
<div class="container" align="center">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Employee" class="btn btn-success">
    </form>
</div>
</body>
</html>